html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100vh;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.top-banner {
  position: fixed;
  top: 0;
  left: 5rem;
  width: calc(100% - 5rem);
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.transaction-overlay {
  display: block;
}

.select-category-overlay {
  display: none;
}

.select-wallet-overlay {
  display: none;
}

.select-date-overlay {
  display: none;
}

.wallet-overlay {
  display: none;
}

.currency-overlay {
  display: none;
}

.popup-display {
  height: 350px;
  width: 900px;
}

.sm-popup-display {
  height: 350px;
  width: 600px;
}

.sm-popup-long-display {
  height: 550px;
  max-width: 500px;
}

.small-text {
  font-size: 0.75rem;
}

.hover-item {
  cursor: pointer;
}

.hover-item:hover {
  background-color: rgb(184, 184, 184, 0.1);
}

@media screen and (max-width: 1060px) {
  .popup-display {
    height: 350px;
    width: 700px;
  }
}

.close-popup {
  cursor: pointer;
}

.active-item {
  background-color: rgba(25, 135, 84, 0.1) !important;
}

.active-item:hover {
  background-color: rgb(25, 135, 84, 0.2) !important;
}

#datepicker {
  display: inline-block;
  width: auto;
  padding: 1rem;
}

#datepicker .datepicker-inline{
  width: auto;
}

#datepicker td, #datepicker th {
  text-align: center;
  padding: 8px 12px;
  font-size: 14px;
}

#datepicker td.active, #datepicker span.active {
  background: rgba(25, 135, 84);
}

#datepicker .hover-item:hover {
  background: rgba(25, 135, 84, 0.1);
}