<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspNetCoreExpenseTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AspNetCoreExpenseTracker.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css">
</head>
<body class="bg-light">
    <main>   
        <div class="d-flex flex-column flex-shrink-0 text-white bg-white" style="width: 5rem; position: fixed; height: 100vh">
            <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                <li class="nav-item border-bottom" style="height: 54px;">
                    <a class="nav-link p-2 rounded-0" href="#">
                        <img src="~/images/menu.svg"></img>
                    </a>
                </li>
                <li class="nav-item border-bottom">
                    <a class="nav-link active p-2 rounded-0" href="#">
                        <img src="~/images/account_balance_wallet.svg"></img>
                        </br>
                        <span class="sidebar-text">Transaction</span>
                    </a>
                </li>
                <li class="nav-item border-bottom">
                    <a class="nav-link p-2 rounded-0" href="#">
                        <img src="~/images/collections_bookmark.svg"></img>
                        </br>
                        <span class="sidebar-text">Report</span>
                    </a>
                </li>
                <li class="nav-item border-bottom">
                    <a class="nav-link p-2 rounded-0" href="#">
                        <img src="~/images/payments.svg"></img>
                        </br>
                        <span class="sidebar-text">Budget</span>
                    </a>
                </li>
            </ul>
            </br>
        </div>
        <div class="d-flex container justify-content-center pt-5 mt-5">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </main>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
