<nav class="navbar navbar-light bg-white top-banner px-5">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">@ViewData["WalletName"]</span>
        <button class="btn btn-success btn-transaction">Add Transaction</button>
    </div>
</nav>